@import 'variables';

:host {
  display: flex;
  flex-grow: 1;
  background-color: $light-blue;

  mat-checkbox {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;

    &:not(:first-child) {
      border-left: 1px solid $white;
    }

    ::ng-deep .mat-checkbox-label {
      line-height: normal;
    }

    ::ng-deep .mat-checkbox-layout {
      padding: $container-padding;
      display: flex;
      flex-grow: 1;
      align-items: center;

      .mat-checkbox-inner-container {
        margin-left: 0;
      }

      .mat-checkbox-frame {
        border-color: $black-two;
      }
    }

    &.mat-checkbox-checked {
      background-color: $blue;
      color: $white;

      ::ng-deep .mat-checkbox-label {
        color: $white;
      }

      ::ng-deep .mat-checkbox-frame {
        border-color: $white;
      }

      ::ng-deep .mat-checkbox-background {
        background-color: transparent;
      }
    }

    &.mat-checkbox-disabled {
      cursor: not-allowed;
    }

    &.mat-checkbox-disabled:not(.mat-checkbox-checked) {
      background-color: $light-grey;
      color: $grey;

      ::ng-deep .mat-checkbox-frame {
        border-color: $grey;
      }

      ::ng-deep .mat-checkbox-background {
        background-color: transparent;
      }

      ::ng-deep .mat-checkbox-checkmark-path {
        stroke: $grey !important;
      }
    }
  }
}
