/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: $font-weight-default;
  font-style: $font-style-default;
}

a {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
}
