<div class="input-wrapper">
  <input #textInput [placeholder]="placeholder" [value]="value" [readOnly]="!active"
         (keydown.enter)="handleSave(textInput.value)"/>
</div>
<div class="input-button-wrapper">
  <mat-icon svgIcon="create" *ngIf="!active" (click)="handleEdit(textInput)" aria-hidden="false"
            aria-label="Edit"></mat-icon>
  <mat-icon svgIcon="check" *ngIf="active" (click)="handleSave(textInput.value)"
            aria-hidden="false" aria-label="Save"></mat-icon>
</div>
