@import 'variables';

:host {
  display: flex;

  .field-label-wrapper {
    display: flex;
    flex-basis: $field-label-width;
    flex-shrink: 0;
    flex-direction: column;
    padding: $container-padding;
    box-sizing: border-box;
    color: $black-two;
    background-color: $white-grey;
  }

  .field-label {
    @include wb-body-1();
    line-height: 19px;
  }

  .field-help {
    margin-top: 8px;
  }

  .field-control-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include wb-body-1();
    color: $black-two;
  }
}
